STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DB_NAME=medusa-clothing-app
DATABASE_URL=postgres://medusa-clothing-app:psqlData%2312@localhost:5432/medusa-clothing-app
API_KEY=supersecret
VITE_BACKEND_URL=http://localhost:9000